body {
  background: rgb(9, 112, 138);
  font: normal 15pt Arial;
}

header {
  color: white;
  text-align: center;
}

#imagem {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  /* margin-bottom: auto;
   */
}
#tempo {
  text-align: center;
  color: brown;
}

/* #resultado {
  margin-top: auto;
} */
section {
  padding: 15px;
  text-align: center;
  background-color: white;
  margin: auto;
  border-radius: 10px;
  width: 500px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.651);
}

footer {
  color: white;
  font-style: italic;
  text-align: center;
}
