body {
  background: rgb(9, 112, 138);
  font: normal 15pt Arial;
  text-align: center;
}

header {
  color: white;
}

section {
  padding: 15px;
  text-align: center;
  background-color: white;
  margin: auto;
  border-radius: 10px;
  width: 500px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.651);
}

footer {
  color: white;
  font-style: italic;
  text-align: center;
}
